<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <h1>Confirma que desea eliminar ese registro?</h1>
       
        <form action="/delete_oficina/<%= item.id %>" method="post">
            <span><%= item.denominacion %></span>
            <br>
            <br>
            <button class= "btn btn-primary custom-pink" type="submit">Confirmar</button>
            <a class= "btn btn-danger custom-red" href="/oficinas"> Cancelar</a>
        </form>

    </body>

</html>