<!DOCTYPE html>
<html>
<%- include('./head.ejs') %>

    <body>
        <%- include('./navigation.ejs') %>
            <h1>Dashboard de Administración de Personas y Oficinas</h1>

            <p>
                <strong>Descripción:</strong>
                El dashboard de administración de personas y oficinas es una plataforma diseñada para gestionar eficientemente información relacionada con empleados y la estructura organizativa de una empresa. Ofrece herramientas y funciones centradas en la gestión de recursos humanos y la organización de espacios laborales.
            </p>

            <h2>Características Principales:</h2>

            <ol>
                <li>
                    <strong>Gestión de Personas:</strong>
                    <ul>
                        <li>
                            <strong>Registro y Visualización:</strong>
                            Permite registrar y visualizar información detallada de empleados, incluyendo nombres, correos electrónicos y otros datos relevantes.
                        </li>
                        <li>
                            <strong>Edición y Actualización:</strong>
                            Facilita la edición de información existente y la actualización de datos de los empleados en tiempo real.
                        </li>
                        <li>
                            <strong>Búsqueda y Filtros:</strong>
                            Ofrece capacidades de búsqueda y filtros para encontrar fácilmente a empleados específicos según criterios como nombre, cargo o departamento.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Administración de Oficinas:</strong>
                    <ul>
                        <li>
                            <strong>Registro y Detalles:</strong>
                            Permite el registro y la gestión de información detallada de las oficinas, incluyendo denominación, ubicación y detalles específicos de cada ubicación.
                        </li>
                        <!-- Más elementos de la lista -->
                    </ul>
                </li>
                <!-- Más elementos de la lista -->
            </ol>

            <p>
                <!-- Más contenido -->
            </p>

            <p>
                <strong>Objetivo:</strong>
                El dashboard tiene como objetivo centralizar y simplificar la gestión de recursos humanos y la administración de la infraestructura laboral de la empresa, proporcionando herramientas eficientes para el seguimiento, organización y toma de decisiones informadas sobre el personal y las oficinas.
            </p>
    </body>

</html>